*.*~
*.swp
.ipynb_checkpoints/
index.html
# pixi environments
.pixi/*
!.pixi/config.toml
pixi.lock
.vscode/
jupyterbook/content/code_gallery/data_access_notebooks/.dodsrc
jupyterbook/content/code_gallery/data_access_notebooks/chlor_a.nc
