exclude: ".binder/conda-lock.yml"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-ast
      - id: debug-statements
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-added-large-files
        exclude_types: [yaml]
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
      - id: double-quote-string-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        types_or: [html]
        exclude: "_templates/layout.html"

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.0.1
    hooks:
      - id: add-trailing-comma

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.281
    hooks:
      - id: ruff

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      # mdformat works on the CLI but not as pre-commit yet.
      # Use `nbqa mdformat jupyterbook --nbqa-md` to run it locally.
      # - id: mdformat
      - id: nbqa-check-ast
      - id: nbqa-black
      - id: nbqa-ruff
        args: [--fix, --extend-ignore=E402]
        # Skipping b/c These notebooks mix R and Python and
        # will return false positive for "F821 Undefined name.""
        exclude: 2017-11-30-rerddap\.ipynb$|2018-02-20-obis.ipynb$

  - repo: https://github.com/bdice/nb-strip-paths
    rev: 'v0.1.0'
    hooks:
      - id: nb-strip-paths

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks
    for more information, see https://pre-commit.ci
  autofix_prs: false
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: monthly
  skip: []
  submodules: false
