name: Build and Deploy docs

# no permissions by default
permissions: {}

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  build-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.x"

      - name: Build documentation
        run: >
          set -e
          && pip install jupyter-book
          && jupyter-book build jupyterbook

      - name: GitHub Pages action
        if: success() && github.event_name == 'release'
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: jupyterbook/_build/html
