name: Build and Deploy docs

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Micromamba
        uses: mamba-org/provision-with-micromamba@v14
        with:
          environment-file: false

      - name: Build environment
        shell: bash -l {0}
        run: |
          micromamba create --name IOOS --file .binder/conda-lock.yml
          micromamba activate IOOS

      - name: Build documentation
        shell: bash -l {0}
        run: |
          set -e
          micromamba activate IOOS
          jupyter-book build jupyterbook

      - name: GitHub Pages action
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3.9.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: jupyterbook/_build/html
