name: Test Data Management Notebooks

on:
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup Micromamba
        uses: mamba-org/setup-micromamba@617811f69075e3fd3ae68ca64220ad065877f246 #v1
        with:
          environment-name: IOOS
          init-shell: bash
          create-args: >-
            --file .binder/conda-lock.yml

      - name: Notebook tests
        shell: bash -l {0}
        run: |
          python -m pytest --nbval --nbval-lax jupyterbook/content/code_gallery/data_management_notebooks/
