name: Test Data Access Notebook

# no permissions by default
permissions: {}

on:
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Micromamba
        uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
        with:
          environment-name: IOOS
          init-shell: bash
          create-args: >-
            --file .binder/conda-lock.yml

      - name: Notebook tests
        shell: bash -l {0}
        run: >
          micromamba install nbval
          && python -m pytest --nbval --nbval-lax jupyterbook/content/code_gallery/data_access_notebooks/
